
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col s6 m4 l4 offset-l2">
        <div class="card  light-blue darken-1">
            <div class="card-content white-text">
                <span class="card-title">Cadastrar Cliente</span>
                <p>
                    Cadastre um novo Cliente.
                </p>
            </div>
            <div class="card-action">
                @Html.ActionLink("Cadastrar", "Create")
            </div>
        </div>
    </div>
    <div class="col s6 m4 l4">
        <div class="card  light-blue darken-1">
            <div class="card-content white-text">
                <span class="card-title">Listar Clientes</span>
                <p>
                    Visualize todos os clientes cadastrados.
                </p>
            </div>
            <div class="card-action">
                @Html.ActionLink("Listar", "Details")
            </div>
        </div>
    </div>
</div>

